# aoc_tiles section
.aoc_tiles/*
!.aoc_tiles/tiles/

# ignore any txt files
*.txt
*.s*
*.ps1
**/input

# ignore all __pycache__ directories
**/__pycache__

# ignore all venvs
.venv
.venv*

# ignore ide config
.idea/**